
@{
    ViewBag.Title = "Index";
    Layout = "~/weixinmp/Views/_LayoutPageDefault.cshtml";
}

<div class="jumbotron">
    <h1 class="display-4">Hello, 小傻子!</h1>
    <p class="lead">这个页面被阻止.</p>
    <hr class="my-4">
    <p>提示：必须支付按摩才能继续访问</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg disabled" href="#" role="button" >支付按摩</a>
    </p>
</div>
