<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings >
    <add key="appid" value="wxf48a89e7137d01ce"/>
    <add key="secret" value="22dbeff7ae4dc7acfc14a75f8a51c550"/>
    <add key="token" value="3BI5h5ZEejpIh7j8B6NQoXE0"/>
    <add key="EncodingAESKey" value="3BI5h5ZEejpIh7j8B6NQoXE0IsmX0GshappDEZnCCTd"/>
  </appSettings>
</configuration>